.text-blue-shadow, .text-blue-shadow h1 {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
  font-size: 2em;
}
.text-blue-shadow p {
  font-size: 1em;
}

.my-bg-vscode {
  background-color: #262922;
}
.my-bg-gimp {
  background-color: #454545;
}
.my-bg-body {
  background-color: #f1eee8;
}

body {
  color: #5a5a5a;
}

.contact-divider, .resume-divider, .about-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.contact-heading, .resume-heading, .about-heading {
  letter-spacing: -.05rem;
}

#home {
  background: url(../images/cover_main.jpg) 100% 100% no-repeat;
  background-color: #000000;
  background-size: cover;
}

#home:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .2);
}

#home:after {
  content: '';
  display: inline-block;
  border-left: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  height: 30px;
  width: 30px;
  font-size: 2rem;
  position: absolute;
  margin-left: 50%;
  bottom: 40px;
  left:-15px;
  rotate: -45deg;
  animation: move  2s infinite ease-in-out;
}

@keyframes move {
from, 
to {
bottom: 40px;
}
25%, 
75% {bottom: 10px;}
50% {bottom: 40px;}
}

#skills {
  perspective: 500px;
}

#skills svg:hover {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  50% {
    transform: rotateY(360deg);
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .contact-heading, .resume-heading, .about-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .contact-heading, .resume-heading, .about-heading {
    margin-top: 1rem;
  }
}



