/* GLOBAL STYLES
-------------------------------------------------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.text-blue-shadow, .text-blue-shadow h1 {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
  font-size: 2em;
}
.text-blue-shadow p {
  font-size: 1em;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.my-bg-vscode {
  background-color: #262922;
}
.my-bg-gimp {
  background-color: #454545;
}
.my-bg-body {
  background-color: #f1eee8;
}

/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
}

/* Featurettes
------------------------- */

.contact-divider, .resume-divider, .about-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.contact-heading, .resume-heading, .about-heading {
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .contact-heading, .resume-heading, .about-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .contact-heading, .resume-heading, .about-heading {
    margin-top: 7rem;
  }
}

#home {
  background: url(../images/cover_main.jpg) 100% 100% no-repeat; /* Добавляем фон */
  background-color: #000000;
  background-size: cover; /* Масштабируем фон */
}

#home:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .2);
}

#contacts {
/*  background-color: #74cfd2;*/
}

.aquarium {
  min-height: 500px;
  min-width: 500px;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}